<div class='bordure'>
    <div class='head_mess'>
        <p>Auteur :<?php echo $pseudo?></p>
        <p>date :<?php echo $date?></p>
        <div>
            <form action='index.php?action=delete&message_id=".$id_mess."' method='POST'>
                <input type="hidden" name="membre_id" value="'.$id.'">
                <input type="hidden" name="message_id" value="'.$id_mess.'">
                <button><span class='delete fas fa-times-circle'></span></button>
            </form>
        </div>
    </div>
    <div>
        <p class='content'><?php echo $content?><p>

    </div>
    <div class='subMess'>
        <h3>commentaires</h3>
        <span>ajouter un commentaire à cette publication</span>
        <form action='index.php?action=subMess&sujet_id=<?php echo $sujet_id?>' method='POST'>
            <input class='input' type='text' name='content' value=''>
            <input type="hidden" name="membre_id" value="<?php echo $id?>">
            <input type="hidden" name="message_id" value="<?php echo $id_mess?>">
            <input type='submit'>
        </form>
    </div>
    <div>
        <div class='message sub'>
            <div class='head_mess'>
                <div>
                    <p>Auteur :".$value->getMembre()->getPseudo()."</p>
                </div>
                <div class='content_sub'>contenu:<p class='content'>".$value->getContent()."</p>
                </div>
                <p>date :".$date."</p>
                <div>id submes : ".$value->getId()."</div>
            </div>
        </div>
    </div>
</div>